<!DOCTYPE html>
<html>
    <head>
        <title>Decidim check login</title>
    </head>
    <body>
        <h1>Decidim check login<br><br></h1>

        <%- @parameters.each do |p| %>
                <%= p %><br>
            <%- end %>

    </body>
</html>
